<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>OYAKO</h1>
    <h4>親子の会話を促す、話題レコメンドサービス</h4>
    <br><br>
    <a href="#about" class="btn btn-success btn-default">使ってみる</a>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
</section>

<!-- Question -->
<section id="question" class="question">
  <div class="container-fluid">
  <h3 class="text-center">いくつかの質問に答えるだけで、ぴったりの話題を提案します</h2>

  <form id="question-form" class="form-horizontal" method="get" action="welcome" >
    <fieldset>
      <legend></legend>
      <div class="form-group">
        <label for="inputDad" class="col-sm-6 control-label">Q1: あなたのお父さんの誕生日は？</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" name="dad" value="1950-12-31">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMom" class="col-sm-6 control-label">Q2: あなたのお母さんの誕生日は？</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" name="mom" value="1950-12-31">
        </div>
      </div>
      <div class="form-group">
        <label for="select" class="col-sm-6 control-label">Q3: あなたのご両親のお住まいは？</label>
        <div class="col-sm-4">
          <select class="form-control" id="select" name="pref_id" required>
            <option></option>
            <option value="1">北海道</option>
            <option value="2">青森県</option>
            <option value="3">岩手県</option>
            <option value="4">宮城県</option>
            <option value="5">秋田県</option>
            <option value="6">山形県</option>
            <option value="7">福島県</option>
            <option value="8">茨城県</option>
            <option value="9">栃木県</option>
            <option value="10">群馬県</option>
            <option value="11">埼玉県</option>
            <option value="12">千葉県</option>
            <option value="13">東京都</option>
            <option value="14">神奈川県</option>
            <option value="15">新潟県</option>
            <option value="16">富山県</option>
            <option value="17">石川県</option>
            <option value="18">福井県</option>
            <option value="19">山梨県</option>
            <option value="20">長野県</option>
            <option value="21">岐阜県</option>
            <option value="22">静岡県</option>
            <option value="23">愛知県</option>
            <option value="24">三重県</option>
            <option value="25">滋賀県</option>
            <option value="26">京都府</option>
            <option value="27">大阪府</option>
            <option value="28">兵庫県</option>
            <option value="29">奈良県</option>
            <option value="30">和歌山県</option>
            <option value="31">鳥取県</option>
            <option value="32">島根県</option>
            <option value="33">岡山県</option>
            <option value="34">広島県</option>
            <option value="35">山口県</option>
            <option value="36">徳島県</option>
            <option value="37">香川県</option>
            <option value="38">愛媛県</option>
            <option value="39">高知県</option>
            <option value="40">福岡県</option>
            <option value="41">佐賀県</option>
            <option value="42">長崎県</option>
            <option value="43">熊本県</option>
            <option value="44">大分県</option>
            <option value="45">宮崎県</option>
            <option value="46">鹿児島県</option>
            <option value="47">沖縄県</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-6">
          <button type="submit" id="recommend" class="btn btn-success btn-default">相談してみる</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
</section>
