<!-- Top -->
<section class="landing_top" id="top">
  <div class="inside">
    <h1>OYACO</h1>
    <h4>親子の会話を促す、話題レコメンドサービス</h4>
    <a class="btn btn-success btn-default" href="#about">主な機能</a>
    <%= button_to '試してみる', question_path, method: :get, class: "btn btn-success btn-default" %>
  </div>
</section>

<!-- About -->
<section class="about" id="about">
  <div class="container feature">
    <div class="row">
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>話題の提供</h3>
        <p>いくつかの質問に答えるだけで、ぴったりの話題を提案します。もう話のネタに困ることはありません。</p>
      </div>
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>イベントの通知</h3>
        <p>誕生日や敬老の日といったイベントを事前にお知らせします。もううっかり忘れてしまうことはありません。
          <div class="note">※ 対応ブラウザ: Chrome</div>
        </p>
      </div>
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>すぐに電話</h3>
        <p>電話番号を入力しておくと、すぐに電話がかけられます。
          <div class="note">※ 対応機器: iPhone及びAndroid携帯</div>
        </p>
      </div>
    </div>
  </section>
