<section class="question" id="question">
  <div class="container-fluid">
    <h3 class="text-center">以下について教えて下さい</h3>
    <div class="form-horizontal" role="form">
      <%= form_for(@questionnaire, url: "/question", method: "post", :html => {:id => "question-form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-6">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= submit_tag("次の話題", :id => "recommend", class: "btn btn-success btn-default") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
