<%= render layout: 'form' do |f| %>
  <h1><%= f.label(:pref_id, "あなたのご両親のお住まいは？", class: "control-label") %></h1>
  <p>
    <%= f.collection_select :pref_id, JpPrefecture::Prefecture.all, :code, :name,
    class: "form-control", style: "display: inline-block; width: auto" %>
  </p>
<% end %>
