      <div class="form-group">
        <%= label_tag(:tel, "Q4: あなたのご両親の電話番号は？", class: "col-sm-6 control-label") %>
        <div class="col-sm-4">
          <%= telephone_field_tag(:tel, cookies.signed[:tel],
          placeholder: "00-0000-0000", pattern: "^[0-9\-]+$", class: "form-control") %>
        </div>
      </div>
