<%= render layout: 'form' do |f| %>
  <h1><%= f.label(:tel, "あなたのご両親の電話番号は？", class: "control-label") %></h1>
  <p>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= f.telephone_field(:tel, placeholder: "00-0000-0000", pattern: "^[0-9\-]+$", class: "form-control") %>
      </div>
    </div>
  </p>
<% end %>
