
<section class="about" id="about">
  <div class="container-fluid feature">
    <h4>免責事項</h4>

      <li>本ホームページに情報を掲載しておりますが、この情報の正確性および完全性を保証するものではありません。
      <li>本ホームページに含まれる情報もしくは内容をご利用されたことで直接・間接的に生じた損失に関し一切責任を負うものではありません。
  </div>
</section>
