<!-- Top -->
<!--
<section class="top" id="top">
  <div class="inside">
    <h1>OYACO</h1>
    <h4>親子のコミュニケーションを促す、親孝行サービス</h4>
    <a class="btn btn-success btn-default" href="#about">主な機能</a>
    <%= link_to '試してみる', question_path(:dad) ,method: :get, class: "btn btn-success btn-default" %>
  </div>
</section>
-->

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<section class="intro-header" style="background-image: url(<%= asset_path "gahag-0002156290a.jpg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>OYACO</h1>
          <span class="subheading">親子のコミュニケーションを促す、親孝行サービス</span><br>
          <%= link_to '試してみる', question_path(:dad) ,method: :get, class: "btn btn-success btn-default" %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="about" id="about">
  <div class="container-fluid feature">
    <div class="row">
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>イベントの通知</h3>
        <p>
          誕生日や敬老の日など、親孝行イベントをメールやブラウザ(※)で事前にお知らせします。もううっかり忘れてしまうことはありません。
          <div class="note">※ 対応ブラウザ: Chrome</div>
        </p>
      </div>
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>話題の提供</h3>
        <p>
          親孝行のための話題を提供します。いくつかの質問に答えることで、より的確な話題を提案します。もう話のネタに困ることはありません。
        </p>
      </div>
      <div class="col-sm-4">
        <img alt="Generic placeholder image" class="img-circle" height="150" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150">
        <h3>すぐに電話</h3>
        <p>
          電話番号を入力しておくと、すぐに電話がかけられます。
          <div class="note">※ 対応機器: iPhone及びAndroid携帯</div>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="try" id="try">
  <%= link_to '試してみる', question_path(:dad) ,method: :get, id: "try", class: "btn-lg btn-success btn-default" %>
</section>
