<h1>親孝行サービス</h1>

<p>
  <% @events.first(1).each do |event| %>
  <% evetDate = event.event_date %>
  <%= evetDate.strftime('%-m月%e日') %>は<%= event.event_name %>です。
  <% end %>
<br>
<br>
  こんなプレゼントはどうですか？
</p>
<table>
  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><img src="<%= ranking['smallImageUrls'][0]['imageUrl'] %>"></td>
        <td><%= ranking.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  こんな言葉を贈ってはどうですか？
</p>
<p>
  誕生日おめどとうございます！
</p>

<br>
