<div class="center hero-unit">
<h1>親孝行サービス</h1>

<p class="lead">
  <h1>10月1日はお父さんの誕生日です！</h1>
  <h1>こんなプレゼントはどうですか？</h1>
</p>

<p>

</p>
<table class="table table-hover">
  <tbody>
    <% @items.first(3).each do |item| %>
      <tr>
        <td><img src="<%= item['smallImageUrls'][0]['imageUrl'] %>"></td>
        <td><a href="<%= item['affiliateUrl'] %>" target="_blank"><%= item.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <h1>こんな言葉を贈ってはどうですか？</h1>
</p>

<p>
  <h1> 誕生日おめでとうございます！</h1>
</p>
<p>
<a class="btn btn-primary" href="/events" role="button">イベント管理</a>
</p>
