<div class="center hero-unit">
<h1>親孝行サービス</h1>
<a href="#" class="btn btn-large btn-primary">Sign up now!</a>
<p>
  １０月１日はお父さんの誕生日です！<br>
</p>

<p>
  <h1>こんなプレゼントはどうですか？</h1>
</p>
<table>
  <tbody>
    <% @items.first(3).each do |item| %>
      <tr>
        <td><img src="<%= item['smallImageUrls'][0]['imageUrl'] %>"></td>
        <td><a href="<%= item['affiliateUrl'] %>" target="_blank"><%= item.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <h1>こんな言葉を贈ってはどうですか？</h1>
</p>

<p>
  <h1> 誕生日おめでとうございます！</h1>
</p>

<br>

<a href="/events">イベント管理</a><br>
