 <p>
  <strong>年月日:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>イベント:</strong>
  <%= @event.event_name %>
</p>

<%= link_to '更新', edit_event_path(@event) %> |
<%= link_to '一覧', events_path %>
