/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$navbar-background-color: #8CC152;
$navbar-background-color-active: #A0D468;
$navbar-font-color: #FFF;
$dropdown-background-color: #FFF;
$dropdown-background-color-hover: #CCD1D9;
$dropdown-normal: #000;
$dropdown-default: #000;
$dropdown-font-color-dark:  #FFF;
$dropdown-font-color-light: #434A54;
$timeline-division-background-color: #48CFAD;
$timeline-years-background-color:  #37BC9B;
//$timeline-years-color:                    $white !default;
//$timeline-dotted-color:                   $aqua-light !default;
$timeline-dotted-border-color:  #48CFAD;
$timeline-radius:                         8px !default;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootflat";
@import 'bootstrap-datetimepicker';

@import "font-awesome-sprockets";
@import "font-awesome";

@import "lightbox";

@import "home";
@import "question";

@font-face {
  font-family: '07YasashisaGothic';
  src: font-url('07YasashisaGothic') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
    font-family: '07YasashisaGothic';
    width: 100%;
    height: 100%;
}

body {
  padding-top: 51px;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

.alert {
  margin-bottom: 0px;
}

hr {
  height:0;
  border:0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #fff;
}
