// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Top */
.intro-header {
  background-color: #33bb9c;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 10px;
  min-height: 460px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 60px 0 50px;
  color: #33bb9c;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 60px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 60px;
  font-weight: bold;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 100px;
    font-weight: bold;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: bold;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: #33bb9c;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

/* Navigation */
.navbar-brand {
  font-weight: bold;
}

.navbar-toggle {
  margin-left: 15pt;
}

#input-event {
  .modal-body {
    min-height: 320px;
  }
}

#input-event-note {
  .modal-body {
    min-height: 320px;
  }
}

/* About */
.about {
  margin-top: 20px;
  .feature .col-sm-4 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .feature h2 {
    font-weight: normal;
  }
  .feature .col-sm-4 p {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .note {
    font-size: 0.8em;
  }
}
.try {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.question {
  position: relative;
  h3 {
    padding: 10px;
  }
  .progress {
    position: absolute;
    width: 80%;
    bottom: 0;
  }
}

/* Topics */
.topics {
  margin-top: 15px;
}
.topics .input-event {
  margin: 20px;
}
.anchor{
  display: block;
  height: 51px; /*same height as header*/
  margin-top: -51px; /*same height as header*/
  visibility: hidden;
}

.timeline {
  margin-bottom: 10px;
}

//.timeline dl dt {
//  background-color: ;
//}
.timeline dl dd .events {
  -webkit-box-shadow: 5px 5px 6px -6px #777;
   -moz-box-shadow: 5px 5px 6px -6px #777;
        box-shadow: 5px 5px 6px -6px #777;
}

.timeline dl dd.birthday {
  .circ {
    left: 42pt;
    width: 30px;
    height: 30px;
    background-color: red;
  }
}

.timeline dl dd.user {
  .circ {
    left: 42pt;
    width: 30px;
    height: 30px;
    background-color: green;
  }
}
.timeline div.time {
  font-size: 1.5em;
}

.timeline dl dd .events .events-body .events-heading {
  font-size: 1.4em;
}

.wikipedia {
  font-size: 0.8em;
  padding-left: 10pt;
  padding-bottom: 5pt;
}

img.gift {
  width: auto;
  max-height: 192px;
}

ul, ol {
    padding-left: 15pt;
}

.panel-heading, .panel-body {
    padding: 8px;
}

.regist-recommend {
  margin-top: 30px;
  min-height: 40px;
}

.regist-discription {
  margin-top: 30px;
}
