// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: image-url("gahag-0002156290a.jpg") no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover;
  color: #FFFFFF;

  .inside {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%,-40%);
    -ms-transform: translate(-50%,-40%);
    transform: translate(-50%,-40%);
    color: #33bb9c;
    h1 {
      font-size: 8em;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 5em;
      padding: 0;
      font-weight: 500;
    }
  }
  a {
    margin: 0.5em;
  }
}

/* About */
.about {
  .feature .col-sm-4 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  .feature h2 {
    font-weight: normal;
  }
  .feature .col-sm-4 p {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .note {
    font-size: 0.8em;
  }
}

/* Services */
.question {
  h3 {
    padding: 10px;
  }
}
