// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popover {
  position: relative;
  display: block;
//  float: left;
  margin: 20px;
  max-width: 100%;
}

.popover-title {
  font-weight: bold;
}

.popover-content {
  font-weight: bold;
}

.button-area {
  margin-bottom: 20px;
  margin-top: 20px;
}
